algoliasearch-django==4.0.0
asgiref==3.8.1
certifi==2025.7.14
chardet==4.0.0
Django==5.2.3
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
idna==2.10
PyJWT==2.10.1
python-dotenv==1.1.1
PyYAML==6.0.2
requests==2.25.1
sqlparse==0.5.3
tzdata==2025.2
urllib3==1.26.20

